#app {
  font-family: Helvetica, Arial;
}

html, body, #app, #klartextGroup {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#klartextGroup {
  width: 900px;
  border: 0.1px solid #777777;
}

.flex-parent{
  display: flex;
}

.dir-row{
  flex-direction: row;
}

.dir-col{
  flex-direction: column;
}

  #header{
    justify-content: space-between;
    padding: 4px 4px 4px 4px;
  }

    h1#groupname{
      font: 40px Helvetica;
      font-style: italic;
      margin: 10px 0 15px 120px;
    }

    .specifyUsername{
      padding: 4px 4px 0px 0px;
    }

  div#body{
    height: 100%;
  }

    .categoryMenu {
      padding: 0px 0px 0px 0px;
    }

    .categoryLink {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 15px 3px 15px;
    }

    .selected{
      background-color: #d0cbc5;
    }

    div#postsEtc{
      width: 100%;
      height: 100%;
      background-color: #d0cbc5;
      padding: 20px 20px 10px 30px;
    }

    textarea.newThread{
      width: 400px;
      height: 50px;
      resize: none;
    }

    div.newThread{
      margin: ;
    }

    .thread {
      width: 520px;
      background-color: #fefefe;
      margin: 10px 5px 5px 5px;
    }

    .post{
      margin: 0;
      padding: 5px 15px 10px 10px;
      border: 0.1px solid #777777;
    }

    span.postAuthor{
      margin: 0 5px 0 0;
      font-weight: bold;
    }

    div.comment{
      border: 0.1px solid #777777;
      padding: 5px 15px 10px 10px;
    }


    textarea.comment{
      width: 400px;
      height: 15px;
      resize: none;
    }





